/* https://preview.themeforest.net/item/pro-card-material-cv-resume-vcard-template/full_screen_preview/20111046 */

/* font-family: 'Varela Round', sans-serif; */

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F5F5F5;

    background-position: center center;
    background-repeat: no-repeat;
    font-family: 'Varela Round', sans-serif;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

.main {
    width: 1032px;
    height: 600px;

    position: absolute;
    top: 50%;
    left: 50%;

    margin-left: -516px;
    margin-top: -300px;

    overflow: hidden;

    border-radius: 16px;
    box-shadow: 0 6px 16px -4px rgba(0, 0, 0, .2);
}

.main-header {
    background-color: #ff7f50;
    background-image: url(./images/sp_main_bg.png);
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    height: 50%;
}

.main-header img {
    width: 280px;
    border: 3px solid #fff;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    transition: all 300ms ease;
}

.main-header img:hover {
    transform: translateX(0px) translateY(-20px);
    box-shadow: 0 25px 30px rgba(0, 0, 0, .2);
}

.main-header .me {
    padding-top: 40px;
    text-align: center;
}

.main-header .me h1 {
    color: #fff;
    font-size: 48px;
}

.main-header .me h2 {
    color: #fff;
    font-size: 24px;
}

.main-header .me ul {
    list-style: none;
    margin: auto;
    margin-top: 20px;
    padding: 0;
    width: 108px;
    height: 32px;
}

.main-header .me ul li {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 4px;
}

.main-header .me ul li a {
    background-color: #fff;
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: #aaa;
    border-radius: 50%;
    text-align: center;

    transition: all 300ms ease;
}

.main-header .me ul li a:hover {
    background-color: rgb(248, 250, 108);
}

.main-content {
    background-color: #fff;
    height: 50%;
}

.main-content h2 {
    font-size: 20px;
}

.main-content h2 span {
    color: #eb7f04;
}

.main-content p {
    font-size: 18px;
}

.column {
    height: 100%;
    width: 50%;
    float: left;
    padding: 50px;
}

.column.left {
    /* background-color: purple; */
}

.column.right {
    /* background-color: yellow; */
}

.gray {
    color: #aaa;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px 0;
    text-align: center;
    color: #aaa;
}

.btn {
    display: inline-block;
    background-color: #fff;
    padding: 8px 12px;
    border: 1px solid #eb7f04;
    border-radius: 4px;
    text-decoration: none;
    color: #eb7f04;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    transition: all 300ms ease;
}

.btn:hover {
    background-color: #eb7f04;
    color: #fff;
}
